<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="author" content="Auburn W.">
    {% if page.excerpt %}
      <meta name="description" content="{{ page.excerpt | strip_html }}">
    {% endif %}
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "style.css" | relative_url }}">
    <link
      rel="icon"
      href="{{ "icon.svg" | relative_url }}"
      type="image/svg" />
    <link
      rel="icon"
      href="{{ "icon.png" | relative_url }}"
      type="image/png"
      sizes="512x512" />
    <link
      rel="alternate"
      href="{{ "feed.rss" | relative_url }}"
      type="application/rss+xml"
      title="Auburn W. blog feed">
  </head>

  <body>
    <div class="banner">
      <img
        alt=""
        class="icon"
        src="{{ "icon.svg" | relative_url }}"
        width="16"
        height="16">
      Auburn W.
    </div>
    <nav>
      <a href="{{ "/" | relative_url }}">
        All Posts
      </a>
      <a href="{% link _categories/coding.md %}">
        Coding
      </a>
      <a href="{% link _categories/music.md %}">
        Music
      </a>
      <a href="{% link _categories/games.md %}">
        Games
      </a>
    </nav>
    <article class="main">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </article>
    {% if page.post and page.categories.size > 0 %}
      <p>
        {% assign category-collection = site.collections | where: "label", "categories" | first %}
        Categories:
        {% for category in page.categories %}
          {% assign found-category = category-collection.docs | where: "title", category | first %}
          {% if found-category %}
            <a href="{{ found-category.url }}">{{ category }}</a>
          {% else %}
            {{ category }}
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}
    {% if page.post and page.next or page.previous %}
      <p>
        {% if page.next %}
          <a href="{{ page.next.url }}">« {{ page.next.title }}</a>
          {% if page.previous %}
            |
          {% endif %}
        {% endif %}
        {% if page.previous %}
          <a href="{{ page.previous.url }}">{{ page.previous.title }} »</a>
        {% endif %}
      </p>
    {% endif %}
  </body>
</html>